#item-carousel {
    width: 420px !important;
}

.lSGallery > li.active {
    border: 5px solid;
    border-color: var(--bs-info) !important;
}

.lSGallery li a img {
    height: 50px !important;
    object-fit: fill;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.badge {
    background-color: var(--bs-info) !important;
    padding: 5px;
}